/*
    Este arquivo é para editar os estilos 
    dos formularios dessa aplicação em
    react e next.

*/


/*
    As partes de baixo é para estilização
    dos campos de um formulario.
*/
.campo{
    width: 100%;
    min-width: 300px;
    padding: 10px;
}

.campo label{
    display: block;
    font-size: 18px;
    color: #777;
}

.campo input{
    margin-top: 5px;
    display: block;
    width: 100%;
    font-size: 18px;
}

/*
    As classes abaixo é para 
    os diferentes formularios
*/

.pequeno{
    width: 30%;
    background-color: #fff;
}

.medio{
    width: 50%;
    background-color: #fff;
}

.grande{
    width: 75%;
    background-color: #fff;
}